@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body {
  height: 100vh;
  overflow: hidden;
}

html {
  height: 100%;
  overflow: hidden;
  background: radial-gradient(circle at center, #ffffff 0%, #38cbdf 100%);
}

a {
  color: #3b82f6;
}

@layer utilities {
  .hidden-scrollbar {
    -ms-overflow-style: none; /* IE, Edge 対応 */
    scrollbar-width: none; /* Firefox 対応 */
  }
  .hidden-scrollbar::-webkit-scrollbar {
    /* Chrome, Safari 対応 */
    display: none;
  }
}
