@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body {
  height: 100vh;
  overflow: hidden;
}

html {
  height: 100%;
  overflow: hidden;
  background: radial-gradient(circle at center, #ffffff 0%, #38cbdf 100%);
}
